body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: white;
}

ul, a, address {
	text-decoration: none;
	list-style-type: none;
	color: inherit;
	font-style: normal;
}

.menu {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.menu:hover,
.menu:focus {
	color: #404bbf
}

.one-more-color {
	color: #434455;
}

.logo-text {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}
.web-text {
	font-family: "Raleway" sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.16667;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}

.address-a {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.section-first {
	background: #2e2f42;
}

.h-title-hero {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: #fff;
}

.button-purple {
	font-family: "Roboto", sans-serif;
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	background-color: #4D5AE5
}

.button-purple:hover,
.button-purple:focus {
	background-color: #404BBF
}

.section-our-features .features-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.section-our-features .features-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.our-team {
	background: #f4f4fd;
}

.section-team {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
	color: #2e2f42;
}

.team-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
}

.team-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: #434455;
}

.team-li {
	background-color: #FFFFFF;
}

.section-portfolio {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
	color: #2e2f42;
}

.section-portfolio {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
	color: #2e2f42;
}

.portfolio-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.portfolio-text {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.section-portfolio .portfolio-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.footer-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #f4f4fd;
}

.footer {
	background: #2e2f42;
}

.logo-studio {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #f4f4fd;
}

.logo-studio-header {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #2e2f42;
}